.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  padding-top: 30px;
  background-color: #3A4CCA;
}

@media only screen and (max-width: 600px) {
  .app h1 {
    font-size: 30px; /* adjust this size to fit your needs */
    text-align: center; /* center the text */
  }
}
